.chart-area {
  width: 90%;
  margin: auto; 
  padding-bottom: 100px; 
}

.main {
  width: 90%;
  margin: auto; 
}

@media screen and (max-width: 680px) {
  .chart-area{
    width: 100%;
  }

  .main {
  width: 100%; 
	}
}